span
    figure.effect-hover(ng-style="tileWidth()")
        img(src="{{details.imagePath}}" alt="{{details.title}}")
        figcaption
            h2 {{details.title}}
            p {{details.summary}}
            a(ng-if="details.link" href="{{details.link.href}}" target="_blank") {{details.link.text}}
    figure(ng-if="tileCount() == 3 && !last")