div.carouselle
    div.debug(ng-click="debug()") debug
    ul.list
        li.carouselle-item.carouselle-hide-animation(ng-repeat="details in items" ng-show="selected == $index" ng-style="getAnimDir()")
            div.blob(ng-mouseover="hover=true" ng-mouseleave="hover=false")
                div.thumbnail.tumbnail-hide-animation(ng-hide="hover" style='background-image:url({{details.imagePath}})')
                div.title {{details.title}}
                div.date(ng-if="details.date") ({{details.date}})
                    //- img(src="{{details.imagePath}}")
                    //- div.caption {{details.imageCaption}}
                div.summary {{details.summary}}
                div.link(ng-if="details.link")
                    a(href="{{details.link.href}}" target="_blank") {{details.link.text}}
    div.crumbs
        span.crumb(ng-repeat="i in items")
            div(ng-click="switchTo($index)") {{$index}}