div.carousel(ng-swipe-left="moveRight()" ng-swipe-right="moveLeft()")
    div.debug(ng-click="debug()") debug
    ul.list
        li.carousel-item.carousel-hide-animation(ng-repeat="details in items" ng-hide="selected != $index" ng-class="getClass($index)")
            div.blob(ng-mouseover="hover=true" ng-mouseleave="hover=false")
                div.thumbnail.tumbnail-hide-animation(ng-hide="hover" style='background-image:url({{details.imagePath}})')
                div.title {{details.title}}
                div.date(ng-if="details.date") ({{details.date}})
                    //- img(src="{{details.imagePath}}")
                    //- div.caption {{details.imageCaption}}
                div.summary {{details.summary}}
                div.link(ng-if="details.link")
                    a(href="{{details.link.href}}" target="_blank") {{details.link.text}}
    div.crumbs
        span.crumb
            div(ng-click="moveLeft()") Left
        span.crumb(ng-repeat="i in items")
            div(ng-click="switchTo($index)") {{$index}}
        span.crumb
            div(ng-click="moveRight()") Right