.background
  position fixed
  top 0em
  left 0em
  right 0em
  bottom 0em
  z-index: -1

  .canvas
    z-index -3

  .mesh
    z-index -2
    background-image url(/images/bg.png)
    background-repeat repeat
    background-position top lf