div.header
  span.title
    h1.name Jeremy Bernstein
  span.links
    a.logo.icon-mail(href="mailto:dr.jerm.io@gmail.com" target="_blank")
    a.logo.icon-github(href="https://github.com/Dr-Jerm" target="_blank")
    a.logo.icon-linkedin(href="https://www.linkedin.com/pub/jeremy-bernstein/1a/b45/b64" target="_blank")
  div.accent-bar