div.header
  span.title
    h1.name Jeremy Bernstein
    p.sub-name Fullstack Developer
  span.links
    span
      a.logo.mail(href="/" style='background-image:url("images/email.svg")')
    span
      a.logo.github(href="/" style='background-image:url("images/github.svg")')
    span
      a.logo.linkedin(href="/" style='background-image:url("images/linkedin.svg")')
  div.accent-bar