extends layout

block body
  div.body
    div.centered-container.introduction(ng-style="getInnerHeightStyle('height')")
        div.centered
            div.greeting Hey, I'm 
                span.name Jeremy Bernstein
            div.sub-title Where Engineering meets Art
            div.links
                a.logo.icon-mail(href="mailto:dr.jerm.io@gmail.com" target="_blank")
                a.logo.icon-github(href="https://github.com/Dr-Jerm" target="_blank")
                a.logo.icon-linkedin(href="https://www.linkedin.com/pub/jeremy-bernstein/1a/b45/b64" target="_blank")
    div.work
        div.section
            div.section-title
                h2.text Work
                //- span.icon.icon-suitcase
            carousel(items="works")
        div.section
            div.section-title
                h2.text Projects
                //- span.icon.icon-rocket
            carousel(items="histories")
        div.section
            div.section-title
                h2.text Fun
                //- span.icon.icon-gamepad
            carousel(items="experiments")
                
