extends layout

block body
  div.body
    div.centered-container.introduction(ng-style="getInnerHeightStyle('height')")
        div.centered
            div.greeting Hey, I'm 
                span.name Jeremy Bernstein
            div.sub-title Fullstack and Game Developer
            div.links
                a.logo.icon-mail(href="mailto:dr.jerm.io@gmail.com" target="_blank")
                a.logo.icon-github(href="https://github.com/Dr-Jerm" target="_blank")
                a.logo.icon-linkedin(href="https://www.linkedin.com/pub/jeremy-bernstein/1a/b45/b64" target="_blank")
    div.bin
        div.section
            div.section-title
                h2.text Stuff I've done
            div.grid    
                blob(ng-repeat="details in achievements" details="details" last="$index == achievements.length - 1")
        div.section
            div.section-title
                h2.text Things I'm into
                //- span.icon.icon-gamepad
            ul.list.experiment
                li(badge ng-repeat="badge in badges" details="badge")
