extends layout

block body
  div.body(ng-controller='portfolioController')
    div.bin
        div.section
            div.section-title
                h2.text Work
                span.icon(style='background-image:url("images/cloud.svg")')
            ul.list.work
                li(blob ng-repeat="details in works" details="details")
        div.section
            div.section-title
                h2.text Fun
                span.icon(style='background-image:url("images/gamepad.svg")')
            ul.list.experiment
                li(blob ng-repeat="details in experiments" details="details")
        div.section
            div.section-title
                h2.text Projects
                span.icon(style='background-image:url("images/wrench.svg")')
            ul.list.history
                li(blob ng-repeat="details in histories" details="details")
                
