!!!
html(ng-app="myApp")
    head
        meta(charset='utf8')
        // meta (name="viewport" content="width=device-width, initial-scale=2, maximum-scale=2, user-scalable=no")
        meta(name="viewport" content="height=device-height, width=375, initial-scale=0.9, minimum-scale=0.9, maximum-scale=0.9, user-scalable=no, target-densitydpi=device-dpi")
        // meta (name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
        base(href='/')
        title Jeremy Bernstein
        != css('style')
        != js('vendor/angular.min')
        != js('vendor/three')
        != js('vendor/cannon')
        != js('vendor/stats.min')
        != js('app')
        != js('helpers')
        != js('directives')

    body.fill
        include background

        include header
        block body
        include footer

        != js('background')