!!!
html(ng-app="myApp")
    head
        meta(charset='utf8')
        base(href='/')
        title Jeremy Bernstein
        != css('style')
        != js('vendor/angular.min')
        //- script(src="/js/vendor/angular.min.js")
        != js('app')
        != js('helpers')
        != js('directives')

    body
        include header
        
        block body

        include footer