!!!
html(ng-app="myApp")
    head
        meta(charset='utf8')
        meta(name="viewport" content="height=device-height, width=375, initial-scale=0.9, minimum-scale=0.9, maximum-scale=0.9, user-scalable=no, target-densitydpi=device-dpi")
        base(href='/')
        title Jeremy Bernstein
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/vendor.css")

        script(src='/js/vendor.min.js')

    body.fill
        include background

        include header
        block body
        include footer

        script(src='/js/client.js')
