!!!
html(ng-app="myApp")
    head
        meta(charset='utf8')
        meta(name="viewport" content="height=device-height, width=device-width, initial-scale=0.9, minimum-scale=0.9, maximum-scale=0.9, user-scalable=no, target-densitydpi=device-dpi")
        base(href='/')
        link(rel="shortcut icon" href="/images/favicon.png")
        title Jeremy Bernstein
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/vendor.css")


    body.fill(ng-controller='portfolioController')
        include loader

        div.portfolio
            include background

            //- include header
            block body
            //- include footer

        script(src='/js/vendor.min.js')
        script(src='/js/client.min.js')
