@font-face {
  font-family: 'droid_sansregular';
  src: url("../font/droidsans-webfont.eot");
  src: url("../font/droidsans-webfont.eot?#iefix") format('embedded-opentype'), url("../font/droidsans-webfont.woff") format('woff'), url("../font/droidsans-webfont.ttf") format('truetype'), url("../font/droidsans-webfont.svg#droid_sansregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
.centered-container {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: table;
}
.centered-container .centered {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
body {
  color: #363636;
  background-color: #edf7f2;
  font-family: 'droid_sansregular';
}
body .loading-curtain {
  position: fixed;
  z-index: 100;
  background-color: #edf7f2;
  background-image: url("/images/bg.png");
  background-repeat: repeat;
  background-position: top lf;
}
body .loading-curtain.curtain-hide-animation.ng-hide-add,
body .loading-curtain.curtain-hide-animation.ng-hide-remove {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  display: table !important;
  opacity: 1;
}
body .loading-curtain.curtain-hide-animation.ng-hide {
  opacity: 0;
}
body .background {
  position: fixed;
  top: 0em;
  left: 0em;
  right: 0em;
  bottom: 0em;
  z-index: -1;
}
body .background .canvas {
  z-index: -3;
}
body .background .mesh {
  z-index: -2;
  background-image: url("/images/bg.png");
  background-repeat: repeat;
  background-position: top lf;
}
body .body {
  position: relative;
  overflow-x: hidden;
}
body .body .introduction {
  background-color: #171b1e;
  color: #fff;
  z-index: 1;
  font-size: 2em;
}
body .body .introduction .greeting .name {
  font-weight: bold;
}
body .body .introduction .links {
  display: inline-block;
  margin-top: 2em;
}
body .body .introduction .links .logo {
  display: inline-block;
  display: inline-block;
  color: #a3a3a3;
  font-size: 1em;
  text-decoration: initial;
}
body .body .introduction .links .logo:hover {
  color: #7d7d7d;
}
body .body .section {
  text-align: center;
}
body .body .section .section-title {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 1em;
  font-size: 2.5em;
}
body .body .section .section-title .text,
body .body .section .section-title .icon {
  font-size: 2.5em;
}
body .body .section .list {
  list-style-type: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  text-align: center;
}
body .body .section .list li {
  display: inline-flex;
  margin: 5px;
}
body .blob {
  width: 365px;
  height: 160px;
  padding: 5px;
  background: #fff;
  background-color: #e3e3e3;
  background-image: -webkit-linear-gradient(top, #e3e3e3 0%, #edf7f2 100%);
  background-image: -moz-linear-gradient(top, #e3e3e3 0%, #edf7f2 100%);
  background-image: -ms-linear-gradient(top, #e3e3e3 0%, #edf7f2 100%);
  background-image: -o-linear-gradient(top, #e3e3e3 0%, #edf7f2 100%);
  background-image: linear-gradient(top, #e3e3e3 0%, #edf7f2 100%);
}
body .blob .title {
  font-size: 150%;
}
body .blob .thumbnail {
  position: absolute;
  width: 365px;
  height: 160px;
  opacity: 1;
}
body .blob .thumbnail.tumbnail-hide-animation.ng-hide-add,
body .blob .thumbnail.tumbnail-hide-animation.ng-hide-remove {
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  display: block !important;
  opacity: 1;
}
body .blob .thumbnail.tumbnail-hide-animation.ng-hide {
  opacity: 0;
}
body .blob .thumbnail .caption {
  position: absolute;
  display: inline-block;
}
body .blob .summary {
  padding: 5px;
  font-size: 75%;
}
body .blob .link a {
  z-index: 1;
}
body .footer {
  position: fixed;
  bottom: 0px;
  color: #ddd;
}
