.badge
  width 180px
  height 160px
  padding: 5px
  background #ffffff
  background-linear-gradient(top, #E3E3E3, 0%, #edf7f2, 100%)
  
  .thumbnail
    position relative
    width 180px
    height 160px