backgroundColor = #edf7f2
textColor = #363636
secondaryBackgroundColor = #ebebeb
headerColor = #E3E3E3
subHeaderColor = #8A0917
// headerTextColor = #
accentColor = #7D7D7D
subAccentColor = #A3A3A3

headerHeight = 50px

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  {prop} args

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
  background-color startColor
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)


@font-face
  font-family 'droid_sansregular'
  src url('../font/droidsans-webfont.eot')
  src url('../font/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/droidsans-webfont.woff') format('woff'),
    url('../font/droidsans-webfont.ttf') format('truetype'),
    url('../font/droidsans-webfont.svg#droid_sansregular') format('svg')
  font-weight normal
  font-style normal

.fill
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  margin 0
  padding 0

.centered-container
  position relative
  top 0
  left 0
  height 100%
  width 100%
  display table

  .centered
    display table-cell
    vertical-align middle
    text-align center


a 
  text-decoration none
  &:hover
    text-decoration none 

.grid 
  overflow hidden
  margin 0
  padding 3em 0 0 0
  width 100%
  list-style none
  text-align center
  
  figure 
    position relative
    z-index 1
    display inline-block
    overflow hidden
    margin -0.135em
    width 33.333%
    height 400px
    background #3085a3
    text-align center
    cursor pointer
    
    img
      position relative
      display block
      min-height 100%
      opacity 0.8
      
    figcaption
      color #fff
      text-transform uppercase
      font-size 1.25em
      -webkit-backface-visibility hidden
      backface-visibility hidden
      
      &::before, &::after
        pointer-events none
        
    figcaption, a 
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      
    a
      z-index 1000
      text-indent 200%
      white-space nowrap
      font-size 0
      opacity 0
      
    h2 
      word-spacing -0.15em
      font-weight 300
      
      span 
        font-weight 800
    h2, p 
      margin 0

    p 
      letter-spacing 1px
      font-size 68.5%

figure
  &.effect-hover
    img
      min-width 100%
      height -webkit-calc(100% + 40px)
      height calc(100% + 40px)
      
    figcaption
      
      &::before, &::after
        position absolute
        content ''
        opacity 0
        
      &::before
        top 50px
        right 30px
        bottom 50px
        left 30px
        border-top 1px solid #fff
        border-bottom 1px solid #fff
        -webkit-transform scale(0,1)
        transform scale(0,1)
        -webkit-transform-origin 0 0
        transform-origin 0 0

      &::after
        top 30px
        right 50px
        bottom 30px
        left 50px
        border-right 1px solid #fff
        border-left 1px solid #fff
        -webkit-transform scale(1,0)
        transform scale(1,0)
        -webkit-transform-origin 100% 0
        transform-origin 100% 0
        
    h2
      padding-top 26%
      -webkit-transition -webkit-transform 0.35s
      transition transform 0.35s
      
    p
      padding 0.5em 4em
      text-transform none
      opacity 0
      -webkit-transform translate3d(0, -10px, 0)
      transform translate3d(0, -10px, 0)
      
    img, h2
      -webkit-transform translate3d(0,-30px,0)
      transform translate3d(0,-30px,0)
      
    img, figcaption::before, figcaption::after, p
      -webkit-transition opacity 0.35s, -webkit-transform 0.35s
      transition opacity 0.35s, transform 0.35s
      
    &:hover img
      opacity 0.7
      -webkit-transform translate3d(0,0,0)
      transform translate3d(0,0,0)
      
    &:hover figcaption::before, &:hover figcaption::after
      opacity 1
      -webkit-transform scale(1)
      transform scale(1)
      
    &:hover h2, &:hover p
      opacity 1
      -webkit-transform translate3d(0,0,0)
      transform translate3d(0,0,0)
      
    &:hover figcaption::after, &:hover h2, &:hover p, &:hover img
      -webkit-transition-delay 0.15s
      transition-delay 0.15s

body
  color textColor
  background-color backgroundColor

  font-family 'droid_sansregular'

  .loading-curtain
    position fixed
    z-index 100

    background-color backgroundColor
    background-image url(/images/bg.png)
    background-repeat repeat
    background-position top lf

    &.curtain-hide-animation.ng-hide-add, &.curtain-hide-animation.ng-hide-remove 
      -webkit-transition 1.0s linear all
      transition 1.0s linear all
      display table!important
      opacity 1
    &.curtain-hide-animation.ng-hide 
      opacity 0

  .background
    position fixed
    top 0em
    left 0em
    right 0em
    bottom 0em
    z-index: -1

    .canvas
      z-index -3

    .mesh
      z-index -2
      background-image url(/images/bg.png)
      background-repeat repeat
      background-position top lf
    
  .body
    position relative
    overflow-x hidden
    padding-bottom 3em

    .introduction
      background-color #171b1e
      color #fff
      z-index 1
      font-size 2em
      // position fixed
      .greeting
        .name
          font-weight bold
      // .sub-title
      .links
        
        display inline-block
        margin-top 2em

        .logo
          display inline-block
          display: inline-block
          color subAccentColor
          font-size 1em
          text-decoration initial

          &:hover
            color accentColor

    .section
      text-align center
      margin-right auto
      margin-left auto
    
      .section-title
        font-size 2vw
        
        .text
        
        .icon
          font-size 2.5em
          
      .list
        list-style-type none
        margin 0
        margin-top 40px
        padding 0
        text-align center
  
        li
          display inline-flex
          margin 5px
          
  .badge
    width 180px
    height 160px
    padding: 5px
    background #ffffff
    background-linear-gradient(top, #E3E3E3, 0%, #edf7f2, 100%)
    
    .thumbnail
      position relative
      width 180px
      height 160px

  .footer
    position fixed
    bottom 0px
    color #dddddd
    
